.array {

}
.array-opener, .array-closer  {
  color: white
}

.array-block {
  position: relative;
}
.array-block:before {
  position: absolute;
  content: "";
  left: 4px;
  top: 6px;
  bottom: 4px;
  border-inline-start: 1px dotted #ccc;
}
.array-block-hidden{
  display: none;
}