.entry {
  padding-inline-start: 3ch;
  font-family: inherit;
  position: relative;
  line-height: 1.5rem;
}

.entry::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  border-left: 1px dashed #ccc;
}

.kv-separator {
  color: #aaa;
}

.identifier {
  color: #80bbff;
}
.expand-button {
  --size: 5px;
  appearance: none;
  position: absolute;
  top: 5px;
  left: 1.5ch;
  padding: 0;
  transition: transform 0.2s ease-out;
  background: none;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-color: transparent;
  border-size: 0;
  border-top: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  border-left: calc(var(--size) * 2 * 0.866025404) solid white;
  transform-origin: calc(var(--size) * 0.866025404)
    calc(var(--size) * 0.866025404);
  cursor: pointer;
}

.expand-button.expanded {
  transform: rotateZ(90deg);
}
