.object-opener,
.object-closer {
  color: white;
}
.object-block {
  position: relative;
}
.object-block:before {
  position: absolute;
  content: "";
  left: 4px;
  top: 6px;
  bottom: 4px;
  border-inline-start: 1px dotted #ccc;
}

.ref-button{
  margin-inline-start: 15px;
}

.ref-button:before{
  content: "deref"
}
.ref-button.toggled:before{
  content: "re-ref"
}

.object-hidden {
  display: none;
}